@import url();

:root{

}

body{
    background-color: #4453bd;
}

p{
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: center;
    color: white;
}

#deals{
    color: darkblue;
    background-color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: medium;
    height: 5em;
    padding-left: 100px;
}

.paylogos {
    display: flexbox;
    height: 4em;
    padding: 0.7em;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.icons{
    display: flex;
    justify-content:space-between;
    margin: 0 6%;
}

.main-menu{
    text-align: center;
    height: 5rem;
    word-spacing: 4.5em;
    text-transform: uppercase;
    padding-top: 2em;
}

.nav{
    color: white;
    text-decoration: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.topic-titles{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bolder;
    text-align: center;
    color:#FFBB46;
    padding: 40px 0px 5px 0px;
}

.banner{
    font-size: small;
    font-weight: 300;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: center;
    background-color: #FFBB46;
}

.breadcrumbs{
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: left;
    text-decoration: none;
    color: white;
    word-spacing: 8px;
    padding-top: 66px;
}

.price {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

button {
    border-radius: 10%;
    background-color: #8896ff;
    border: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.pagetxt{
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-decoration: none;
    color: white;
}

.pages {
    margin-left: 500px;
}

.pages a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
.pages a.active {
    background-color: #343434;
    color: white;
  }
  
.pages a:hover:not(.active) {background-color: #6A6A6A;}

.gap{
    height: 30px;
    background-color: #4453bd;
}

 hr{
      background-color: #6A6A6A;
      height: 0.5px;
      border: none;
      padding: 5px 500px 5px 25px;
  }

.sidebar-title {
    color:white;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin-left: 2em;
}

.sidebar-txt {
    color: black;
    font-weight: 400;
    font-family: 'Plus Jakarta Sans', sans-serif;
    align-content: left;
    text-decoration: none;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: absolute;
    z-index: 1;
    top: 1;
    left: 0;
    background-color: #FFBB46;
    overflow-x: hidden;
    padding-top: 20px;
  }

.products {
    padding-bottom: 1em;
    float: right;
    width: 25%;
}

.products-container {
    margin-left: 200px;
    padding-bottom: 1em;
    float:left;
    display:inline;
    flex-direction: column;
}

footer{
    background-color: #20201F;
    color:aliceblue;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: center;
    padding-top: 40px;
}