@import url();

:root{

}

body{
    background-color: #4453bd;
}

p{
    text-align: left;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: white;
    margin-left: 40em;
}

#deals{
    color: darkblue;
    background-color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: medium;
    height: 5em;
    padding-left: 100px;
}

.paylogos {
    display: flexbox;
    height: 4em;
    padding: 0.7em;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.icons{
    display: flex;
    justify-content:space-between;
    margin: 0 6%;
}

.main-menu{
    text-align: center;
    height: 5rem;
    word-spacing: 4.5em;
    text-transform: uppercase;
    padding-top: 2em;
}

.nav{
    color: white;
    text-decoration: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.topic-titles{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bolder;
    text-align: center;
    color:#FFBB46;
    padding: 40px 0px 5px 0px;
}

.banner{
    font-size: small;
    font-weight: 300;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: center;
    background-color: #FFBB46;
}

.breadcrumbs{
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: left;
    text-decoration: none;
    color: white;
    word-spacing: 8px;
    padding-top: 66px;
}

.price {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color:white;
    margin-left: 27em;
}

button {
    border-radius: 10%;
    background-color: black;
    color: white;
    border: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding: 1em 1em 1em 1em;
    margin-left: 3em;
}

.prod-page{
    float:left;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

h1{
    font-family: 'Plus Jakarta Sans', sans-serif;
    color:white;
}