@import url();

:root{

}

body{
    margin: 0 auto;
    background-color: #ACCEF7;
}

nav{
    display: black;
    height: 5rem;
    background-color: white;
    position: fixed;
    width: 100%;
    text-align: center;
}

#content{

}

#content > div{

}

#sidebar{

}

#main-container{
    max-width: 77%;
}

h1{
    font-size: 100px;
    font-weight: 300;
    text-align: center;
}

.page-title{
}