@import url();

:root{

}

body{
    margin-right:border: 70px;
    margin-left:border: 70px;
    background-color: #4453bd;
}

p{
    text-align: center;
}

.deals{
    display:flexbox;
    justify-content: center;
    color: darkblue;
    background-color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.paylogos {
    display: flexbox;
    height: 4em;
    padding: 0.7em;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.icons{
    display: flex;
    justify-content:space-between;
    margin: 0 6%;
}

.main-menu{
    text-align: center;
    height: 5rem;
    word-spacing: 4.5em;
    text-transform: uppercase;
    padding-top: 2em;
}

.nav{
    color: white;
    text-decoration: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.topic-titles{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bolder;
    text-align: center;
    color:#FFBB46;
    padding: 40px 0px 5px 0px;
}

.banner{
    font-size: small;
    font-weight: 300;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: center;
    background-color: #FFBB46;
}

.brands{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 2px;
}

td{
    text-align: center; 
    vertical-align: middle;
}

.featured{
    display: flex;
}

.column{
    flex: 33.33%;
    padding: 5px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: white;
    margin: 10px;
}

button {
    background-color: #b0b9ff;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 12px;
  }

main{
    padding-bottom: 50px;
}

footer{
    background-color: #20201F;
    color:aliceblue;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: center;
    padding-top: 40px;
}